.cards{
  &__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px auto;
    padding: 0px 10px;
    gap: 20px;
  }

  &__item{
    display: flex;
    flex: 1 1 300px;
    max-width: 400px;
    padding: 10px;
    background-color: #DDDDDD;
    border-radius: 3px;
  }
}

.card{
  &__link{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
  }

  &__image{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
  }
}
