.round{
  margin: 0px auto;
  max-width: 1280px;
  padding: 0px 10px;

  &__image{
    margin: 20px auto;
    display: block;
    width: 25%;
  }
}

.question{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  font-size: 24px;
}

.answers{
  &__list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    &_answered{
      pointer-events: none;
    }
  }
  
  &__item{
    display: flex;
    flex-direction: column;
    flex: 1 1 250px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    min-height: 50px;
    font-size: 18px;
    background-color: #CCCCCC;
    border-radius: 5px;
    transition: background-color 0.25s ease;

    &:not(&_wrong, &_right):hover{
      cursor: pointer;
      background-color: #999999;
    }

    &_wrong{
      animation: wrong 1s ease forwards;
    }

    &_right{
      animation: right 1s ease forwards;
    }
  }

  &__image{
    margin: 5px 0px;
    width: 50%;
    pointer-events: none;
  }

  &__next-level,
  &__end-game{
    flex-basis: 100%;
    animation: show 0.5s;
    pointer-events: all;
  }

  &__next-level{
    height: 75px;
  }

  &__end-game{
    height: 100px;
  }
}

@keyframes wrong{
  to{
    background-color: darkred;
  }
}

@keyframes right{
  to{
    background-color: darkgreen;
  }
}

@keyframes show{
  0%{
    opacity: 0;
    transform: translateX(-200px);
  }
  100%{
    opacity: 1;
    transform: translateX(0px);
  }
}
